@model List<NguyenMinhQuang.SachOnline.Models.SACH>
<div class="container">
    <h2 class="text-center">SÁCH BÁN NHIỀU</h2>
    <div class="row">
        @foreach (var sach in Model)
        {
            <div class="col-lg-6 col-md-6">
                <div class="media-object-default">
                    <div class="media">
                        <div class="media-left">
                            <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })">
                                <img class="media-object imgsachbannhieu"
                                     src="~/Images/@sach.AnhBia" alt="@sach.TenSach">
                            </a>
                        </div>
                        <div class="media-body">
                            <b class="media-heading" font-size: 15px>@sach.TenSach</b>
                            <br>
                            Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm. Mô tả chi tiết sản phẩm.
                            @*@sach.MoTa</p>*@
                            <!-- Thêm các thông tin khác của sách -->
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
    <!-- row-->
    <hr>
</div>
<!-- /.container-->


